body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #000000;
}
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    text-shadow: 0 0 10px white;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #da190b;
}
.content {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-info span {
    font-size: 20px;
    color: salmon;
}

.visitors {
  margin: 20px;
  margin-top: 10px;
  width: auto;
  background-color: #857575;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visitor-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.visitor-details h1 {
  color: #ffffff;
  text-align: center;
}

.visitor-header {
  display: flex;
  font-weight: bold;
  text-align: center;
}

.visitor-header span {
  flex: 1;
}

.visitor-item {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.visitor-item span {
    flex: 1;
    text-align: center;
    color: white;
}

